/*
Color palette used in the website:
- f2e9e4: Light Beige
- c9ada7: Light Pink
- 9a8c98: Light Purple
- 4a4e69: Dark Purple
- 22223b: Dark Blue
- 3d5a80: Medium Blue
- 98c1d9: Light Blue
- e0fbfc: Very Light Blue
- ee6c4d: Coral
- 293241: Dark Grayish Blue
*/
:root{
    --NavBarColour: #2C3E50; /* Dark Blue */
    --NavBarText: #ECF0F1; /* Light Gray */
    --HoverColour: #3498DB; /* Bright Blue */
    --H1Colour: #ECF0F1; /* Light Gray */
    --BackgroundColour: #F5F5F5; /* Light Gray */
    --FontSize: 150%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--BackgroundColour); 
    margin: 0px;
}
main{
    margin: 15px;
}
/* heading 1 */
.H1Header{
    color: var(--H1Colour);
    background-color: #34495E; /* Darker Blue */
    padding-bottom: 5px;
    padding-top: 10px;
    text-align: center;
}
