body{
    margin: 0px;
}

main{
    margin: 15px;
}

/* heading 1 */
h1{
    text-align: center;
}

p{
    font-size: large;
    
}
/* Navigation bar*/
.navbar ul{
    list-style-type: none;
    background-color: rgb(94, 91, 91);
    padding: 0px;
    margin: 0px;
    overflow: hidden;

}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(38, 39, 39);
}

.navbar li{
    float: left;
}

.oldWebsite{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float:left;
    margin-right: 10px;
}
