/* Navigation bar */
.navbar ul {
    list-style-type: none;
    background-color: var(--NavBarColour);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.navbar button, .navbar a {
    padding: 20px;
    font-size: calc(var(--FontSize) - 50%);
    font-family: Arial;
    color: var(--NavBarText);
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
}
.navbar button:hover, .navbar a:hover {
    background-color: var(--HoverColour);
}
.navbar {
    font-size: var(--FontSize);
    font-family: Arial;
}
.navbar li {
    float: left;
}
/* Dropdown menu */
.dropdown {
    display: inline-block;
}
.dropdown .CodingLangs {
    display: none;
    position: absolute;
    background-color: #3498DB; /* Bright Blue */
    border-radius: 10px;
    min-width: 0;
    box-shadow: 2px 2px 5px black;
}
.dropdown .CodingLangs a {
    border-radius: 10px;
}
.dropdown:hover .CodingLangs {
    display: block;
}
.dropdown a:hover {
    background-color: #8ecae6;
}
