/* Navigation bar */
.navbar ul{
    list-style-type: none;
    background-color: var(--NavBarColour);
    text-align: left;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar button{
    padding-top: 20px;
    padding-left: 20px;
    font-size: calc(var(--FontSize) - 50%);
    font-family: Arial;
}
.navbar{
    font-size: var(--FontSize);
    font-family: Arial;
}
.navbar a{
    color: var(--NavBarText);
    text-decoration: none;
    padding: 20px;
    display: block;
}
.navbar a:hover{
    background-color: var(--HoverColour);
}
.navbar li{
    float: left;
}
/* Dropdown menu */
.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: transparent;
    color: var(--NavBarText);
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: var(--NavBarText);
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .CodingLangs{
    display: none;
    position: absolute;
    background-color: #3498DB; /* Bright Blue */
    border-radius: 10px;
    min-width: 0;
    box-shadow: 2px 2px 5px black;
}
.dropdown .CodingLangs a{
    border-radius: 10px;
}
.dropdown:hover .CodingLangs{
    display: block;
}
.dropdown:hover button{
    background-color: var(--HoverColour);
}
.dropdown a:hover{
    background-color: #8ecae6;}