.section-header {
    list-style-type: none;
    padding: 0m;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;
    border-bottom: 2px solid #dee2e6;
}

.section-header li {
    margin-top: 5px;
    margin: 0 15px;
    display: inline-block;
}

h2{
    display: flex;
    margin-left: 0px;
    padding-left: 0px;
    justify-content: start;
}

.section-header li a {
    text-decoration: none;
    color: #343a40;
    font-weight: bold;
    padding: 10px 15px;
    display: block;
}

.section-header li a:hover {
    background-color: #e9ecef;
    border-radius: 5px;
}