/* carousel */
.carousel {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden; 
    border-radius: 10px; 
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    margin-top: 2%;
}

.carousel-item {
    min-width: 100%;
    border-radius: 10px; 
}


.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    border: none;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%; 
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.ProjectLink {
    display: inline-block;

    padding: 0.5rem 1rem;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 1%;
    margin-left: 1%;

}

.ProjectLink:hover {
    background-color: #0056b3;
}

.ProjectLink a {
    text-decoration: none; 
    color: #fff; 
}
