main
{
    font-size: 1.5em;
    
}

hr#section-divide
{
    width: 80%;
    margin: 15px auto;
    border: 4px solid rgba(0, 0, 0, 0.623);
    border-radius: 5px;
}

hr#section-break
{
    width: 80%;
    margin: 15px auto;
    border: 4px solid rgba(0, 0, 0, 0.623);
    border-radius: 5px;
}


main h2
{
    text-align: center;
    margin: 20px;

}

.firstWeb
{
    display: inline-grid;

    grid-template-columns: auto auto ;
    column-gap: 40px;
}

.firstWeb img
{
    width: 100%;

}

.firstWebText
{
    padding-left: 25px;
    background-color: rgba(0, 0, 255, 0.281);
    border-radius: 5px;

}

.webDevelop 
{
    padding: 5px;
    text-align: center;
    background-color: #ccc;
    border-radius: 5px;
}

.webDevelop img
{
    width: 100%;
}

.navbarPics
{
    display: inline-grid;

    grid-template-columns: auto auto ;
    column-gap: 40px;
}