

main {
    font-size: 1.5em;
}

hr#section-divide, hr#section-break {
    width: 80%;
    margin: 15px auto;
    border: 4px solid rgba(0, 0, 0, 0.623);
    border-radius: 5px;
}

main h2 {
    text-align: center;
    margin: 20px;
}

#navbarDev-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 10px;
    margin: 10px;
}

.firstWeb {
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 40px;
}

.firstWeb img {
    width: 100%;
}

.firstWebText {
    padding-left: 25px;
    background-color: rgba(0, 0, 255, 0.281);
    border-radius: 5px;
}

.webDevelop {
    padding: 5px;
    text-align: center;
    background-color: #ccc;
    border-radius: 5px;
    margin: auto;
    width: var(--NavBarSectionSize);
    height: var(--NavBarSectionHeight); /* Set fixed height */
}

.webDevelop img {
    min-width: none;

    object-fit: contain; /* Ensure the image fits within the div */
}

.navbarPics {
    display: flex;

    gap: 20px;
    flex-wrap: wrap;
}
/* Ensure text and images scale with window size */
.firstWebText, .webDevelop p {
    font-size: 1em;
    
}

.firstWeb img, .webDevelop img {
    width: 100%;
    height: auto;
}

